<div class="container mt-5">
  <form [formGroup]="formulario">
    <fieldset>
      <legend>Liquidación Vehículos</legend>
      <div class="mb-3">
        <label for="idPaca" class="form-label">Placa</label>
        <input
          type="text"
          id="idPlaca"
          class="form-control"
          placeholder="Ingrese Placa"
          formControlName="placa"
        />
      </div>
      <div class="mb-3">
        <label for="idVigencia" class="form-label"
          >Vigencia</label
        >
        <select id="idVigencia" class="form-select" formControlName="vigencia">
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" (click)="validarInfo()">Validar</button>
    </fieldset>
  </form>
</div>
<hr>
<app-mostar [vehiculos]="vehiculos"></app-mostar>

