<div class="container mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Placa</th>
          <th scope="col">Marca</th>
          <th scope="col">Linea</th>
          <th scope="col">Clase</th>
          <th scope="col">Cilindraje</th>
          <th scope="col">Valor</th>
          <th scope="col">Vigencia</th>
          <th scope="col">Impuesto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculo of vehiculos">
          <td>{{vehiculo.id}}</td>
          <td>{{vehiculo.placa}}</td>
          <td>{{vehiculo.marca}}</td>
          <td>{{vehiculo.linea}}</td>
          <td>{{vehiculo.clase}}</td>
          <td>{{vehiculo.cilindraje}}</td>
          <td>{{vehiculo.valorVehiculo}}</td>
          <td>{{vehiculo.vigencia}}</td>
          <td>{{vehiculo.impuesto}}</td>
        </tr>
      </tbody>
    </table>
    </div>
